@model IEnumerable<DeregisteredPatientServiceModel>

@{
    ViewData["Title"] = "Your Previous Patients";
    int i = 1;
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary" asp-controller="Patients" asp-action="Register">Register Patient</a>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Diagnosis
            </th>
            <th>
                Deregistered Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var patient in Model)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @patient.FirstName
                </td>
                <td>
                    @patient.LastName
                </td>
                <td>
                    @patient.Diagnosis
                </td>
                <td>
                    @patient.DeregistrationDate.ToString("dd-MM-yyyy hh:mm")
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@patient.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

